main {
    margin: 0 5% 50px 5%;
}

li {
    list-style: none;
}

main > h2 {
    text-align: center;
}

/* Aside section */

main > aside {
    text-align: center;
    margin-bottom: 20px;
}

main > aside > div {
    margin: 15px 0;
}

main > aside > div > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 4px -4px 5px rgba(196, 196, 196, 0.82);
}

main > aside > ul {
    display: block;
}

main > aside > ul > li {
    display: inline-block;
    vertical-align: middle;
    height: 48px;
}

main > aside > ul > li:first-child {
    width: 50%;
    line-height: 48px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.1em;
}

main > aside > ul > li:nth-child(2) {
    width: 50%;
}

main > aside > ul > li:nth-child(3) {
    width: 100%;
    border-radius: 10px;
    background-color: #AAF1FF;
    margin-top: 10px;
}

main > aside > ul > li:nth-child(3) > button {
    height: 100%;
    width: 100%;
    background-color: #AAF1FF;
    border: none;
    font-size: 1.1em;
    box-shadow: 4px -4px 5px rgba(196, 196, 196, 0.82);
    border-radius: 10px;
}

main > aside > ul > li:nth-child(3) > button:hover {
    background-color: #0047A0;
    color: white;
}

/* if the article is available hide link for notification */
main > aside > ul > li:first-child.available {
    background-color: #B9FBC0;
}

main > aside > ul > li:first-child.available + li + li {
    display: none;
}

/* if the article is sold-out display link for notification */
main > aside > ul > li:first-child.soldout {
    background-color: #FF0000;
    color: white;
}

main > aside > ul > li:first-child.soldout + li + li {
    display: inline-block;
}

/* section page */
main > section > footer > ul > li {
    display: inline-block;
    width: 48%;
    height: 93px;
    vertical-align: top;
    text-align: center;
}

main > section > footer > ul > li:first-child {
    margin-right: 1%;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 93px;
    background-color: #F0F8FF;
    border-radius: 10px;
    box-shadow: 4px -4px 5px rgba(196, 196, 196, 0.82);
}

main > section > footer > ul > li:first-child > span {
    color: #FF0000;
    text-decoration-line: line-through;
}

main > section > footer > ul > li:last-child {
    margin-left: 1%;
    background: linear-gradient(to bottom, #ADE8F4, #CAF6FF );
    border-radius: 10px;
    box-shadow: 4px -4px 5px rgba(196, 196, 196, 0.82);
}

main > section > footer > ul > li:last-child > a {
    padding: 10px 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

main > section > footer > ul > li:last-child > a > span {
    display: block;
    font-weight: bold;
    color: #0047A0;
}

main > section > footer > ul > li > a {
    display: inline-block;
}