main {
    margin: 0 5% 50px 5%;
}

li {
    list-style: none;
}

main > h2 {
    text-align: center;
    padding: 10px 0;
}

/* Aside section */

main > aside {
    text-align: center;
    margin-bottom: 20px;
}

main > aside > div {
    margin: 15px 0;
}

main > aside > div > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 4px -4px 5px rgba(196, 196, 196, 0.82);
}

ul#productInfo {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

ul#productInfo > li {
    display: inline-block;
    vertical-align: middle;
    height: 48px;
}

ul#productInfo > li:first-child {
    width: 50%;
    line-height: 48px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.1em;
}

ul#productInfo > li:nth-child(2) {
    width: 50%;
}

ul#productInfo > li:nth-child(2) > button {
    border: none;
    background: none;
}

ul#productInfo > li:nth-child(3) {
    width: 100%;
    border-radius: 10px;
    background-color: #AAF1FF;
    margin-top: 10px;
}

ul#productInfo > li:nth-child(3) > button {
    height: 100%;
    width: 100%;
    background-color: #AAF1FF;
    border: none;
    font-size: 1.1em;
    box-shadow: 4px -4px 5px rgba(196, 196, 196, 0.82);
    border-radius: 10px;
}

ul#productInfo > li:nth-child(3) > button:hover {
    background-color: #0047A0;
    color: white;
}

/* if the article is available hide link for notification */
ul#productInfo > li:first-child.available {
    background-color: #B9FBC0;
}

ul#productInfo > li:first-child.available + li + li {
    display: none;
}

/* if the article is sold-out display link for notification */
ul#productInfo > li:first-child.soldout {
    background-color: #FF0000;
    color: white;
}

ul#productInfo > li:first-child.soldout + li + li {
    display: inline-block;
}

ul#productInfo > li:last-child {
    margin-top: 15px;
    padding: 5px 10px;
    height: fit-content;
    display: none;
}

ul#productInfo > li:last-child.message {
    display: block;
    background-color: #7cfc91;
}

ul#productInfo > li:last-child.warning {
    display: block;
    background-color: #ff9800;
    color: white;
}

/* section page */

main > section > footer > ul {
    display: flex;
}

main > section > footer > ul > li {
    flex-direction: row;
    width: 48%;
    vertical-align: top;
    text-align: center;
}

main > section > footer > ul > li:first-child {
    margin-right: 1%;
    font-size: 1.4em;
    font-weight: bold;
    background-color: #F0F8FF;
    border-radius: 10px;
    box-shadow: 4px -4px 5px rgba(196, 196, 196, 0.82);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > section > footer > ul > li:first-child > span {
    color: #FF0000;
    text-decoration-line: line-through;
    line-height: 1;
}

main > section > footer > ul > li:last-child {
    margin-left: 1%;
    background: linear-gradient(to bottom, #ADE8F4, #CAF6FF );
    border-radius: 10px;
    box-shadow: 4px -4px 5px rgba(196, 196, 196, 0.82);
}

main > section > footer > ul > li:last-child > a {
    padding: 10px 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

main > section > footer > ul > li:last-child > a > span {
    display: block;
    font-weight: bold;
    color: #0047A0;
}
/*
main > section > footer > ul > li:last-child > a > img {
    max-height: 100%;
    max-width: 100%;
}
*/

main > section > footer > ul > li > a {
    display: inline-block;
}

@media screen and (min-width: 768px) and (max-width:992px) {

}

@media screen and (min-width: 992px) and (max-width:1200px) {

}

@media screen and (min-width: 1200px) {
    main > h2 {
        padding-bottom: 35px;
    }

    main > aside {
        display: inline-block;
        width: 35%;
        vertical-align: top;
    }

    main > aside > div {
        margin: 0;
    }

    main > section {
        display: inline-block;
        width: 65%;
    }
}