main {
    margin: 0 5%;
}

main > aside > button {
    background-color: #AAF1FF;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 8px 0;
    text-align: left;
    border-radius: 10px 10px 10px 10px;
    margin: 2px 0;
    padding-left: 10px;
    padding-right: 10px;
}

main > aside > button::after {
    content: '\f067';
    font-family: FontAwesome;
    float: right;
}

main > aside > button.selected::after {
    content: '\f068';
    font-family: FontAwesome;
}

main > aside > ul {
    display: none;
}

main > aside > ul > li {
    opacity: 80%;
    list-style: none;
}

main > aside > ul li > input {
    /* not displayed */
    position: absolute;
    left: -9999px;
}

main > aside > ul > li > label {
    font-family: "Futura-pt", Arial, Helvetica, sans-serif;
    padding: 5px 0;
    width: 100%;
    display: inline-block;
    color: black;
    border-radius: 10px 10px 10px 10px;
    padding-left: 10px;
    padding-right: 10px;
    /* To include padding and border in the element's total width and height */
    box-sizing: border-box;
}

main > aside > ul > li > input:checked + label {
    background: #0047A0;
    animation: gradient 1s ease;
    color: white;
}

main > aside > ul > li > input:checked + label::after {
    content: '\f00d';
    font-family: FontAwesome;
    float: right;
}

@keyframes gradient {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (min-width: 768px) {
    main {
        margin: 0 5%;
    }

    main > div > ul {
        padding-left: 0;
        padding-right: 0;
    }

    main > aside, 
    main > section {
        display: inline-block;
        vertical-align: top;
    }

    main > aside {
        width: 25%;
        margin: 0 1% 0 0;
        box-sizing: border-box;
    }

    main > section {
        width: 73%;
        margin: 0 0 0 1%;     
        box-sizing: border-box;
    }
}

