main > section {
    margin: 22px 0 22px 0;
    width: 100%;
}

main > section:first-child {
    text-align: center;
}
main > section > img {
    width: 76%;
    height: 145px;
    border-radius: 10px;
}

main > section > input {
    height: 145px;
    width: 30px; 
    padding: 0 2% 0 2%;
}

main > section > input:first-of-type{
    float: left;
}

main > section > input:last-of-type{
    float: right;
}

/*comics new arrival*/
main > section > header > h2{
    text-align: center;
}
main > section > div {
  text-align: center;
  margin: 30px 0 80px 0;
}

main > section > div > article{
    display: inline-block;
    background-color: white;
    width: 238px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgba(196, 196, 196, 0.5);
}

/*comic title-name*/
main > section > div > article > header{
    height: 70px;
    text-align: center;
    padding: 10px 0 5px 0;
}

main > section > div > article > div:last-child {
    background:  linear-gradient(180deg, #ADE8F4 0%, rgba(173, 232, 244, 0.5) 100%);
    height: 65px;
    border-radius: 0 0 10px 10px;
    width: 100%;
}
/*comic image*/
main > section > div > article > div > img {
    border-radius: 10px 10px 0 0;
    height: 279px;
    width: 238px;
}

/*price box*/
main > section > div > article > div:last-child > div {
    border-radius: 10px;
    background-color: #f0f8ff;
    height: 39px;
    width: 80px;
    box-shadow: inset 1.22223px 1.22223px 1.22223px rgba(196, 196, 196, 0.25);
    float: right;
    margin: 13px 7px 0 0;
    position: relative;
}

/*price text*/
main > section > div > article > div:last-child > div > p {
    font-weight: bold;
    margin: 12px;
    text-align: center;
    font-size: large;
}
/*favourite button*/
main > section > div > article > div:last-child > a:first-child {
    float: left;
    margin: 6.5px 0 0 26px;
}

/* add to cart button*/
main > section > div > article > div:last-child > a:nth-child(2){
    float: left;
    position: relative;
    bottom: 25px;
    margin: 0 0 0 19px;
}

/*back-forward button comics */
main > section > div > input {
    height: 433px;
    width: 37px;
    padding: 0 2% 0 2%;
}

main > section > div > input:first-of-type{
    float: left;
}

main > section > div > input:last-of-type{
    float: right;
}

/*partners banner*/
main > section.parter {
    height: 96px;
    margin: 0 0 40px 0;
}

main > section:last-child > div{
    height: 96px;
    min-width: 270px;
    width: 76%;
    background-color: rgba(152, 237, 255, 0.3);
    box-shadow: 1px 1px 10px 2px rgba(196, 196, 196, 0.5);
    border-radius: 10px;
    margin: 0;
}

main > section:last-child > div {
    display: inline-block;
}

main > section:last-child > input{
    height: 96px;
}

main > section:last-child > div > img {
    height: 50px;
    margin: 23px 0 23px 0;
}

main > section:last-child > div > img:first-child {
    margin-right: 8%;
}
main > section:last-child > div > img:last-child {
    margin-left: 8%;
}

main > aside {
    height: 70px;
    min-width: 260px;
    margin: 0 15% 0 15%;
    text-align: center;
}
main > aside > div:not(main>aside>div:last-child) {
    background-color: rgba(0, 212, 255, 0.4);
    box-shadow: 1px 1px 5px rgba(196, 196, 196, 0.5);
    border-radius: 10px;
    height: 70px;
    width: 100%;
}

main > aside > div:not(main>aside>div:last-child) > div {
    height: 51px;
    width: 51px;
    border-radius: 10px;
    background: white;
    border: 3px solid #FDFE02;
    margin:6.5px 0 6.5px 0;
    display: inline-block;
    vertical-align: middle;
}

main > aside > div > div > img {
    margin-top: 5px;
}
/*banner text*/
main > aside > div > p {
    font-weight: bold;
    display: inline-block;
    margin: 0 0 0 4%;
    width: 175px;
    position: relative;
    top: 5px;
}
/*index indicator banner*/
main > aside > div:last-child > div {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: #c4c4c4;
    display: inline-block;
    position: relative;
    bottom: 20px;
}