main > section {
    margin: 0 4% 50px;
}

main > section > header {
    text-align: center;
    margin: 0 0 30px 0;
}

main > section > header > h2 {
    margin: 10px 0;
}

input#search {
    width: 50%;
    color: #0047A0;
    font-weight: bold;
    font-size: 1em;
    background-image: url(../img/commons/search-icon-magnifier.svg);
    background-repeat: no-repeat;
    background-position: center left;
    border-radius: 10px;
    border: 1px solid #0047A0;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px rgba(196, 196, 196, 0.82);
    padding: 10px 20px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input#search:focus {
    width: 100%;
}

main > section > ul > li {
    border-radius: 10px;
    border: 1px solid #0047A0;
    box-shadow: 5px 5px 5px rgba(196, 196, 196, 0.82);
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main > section > ul > li > div {
    text-align: center;
}

main > section > ul > li > div:first-child {
    width: 25%;
    height: 100px;
}

main > section > ul > li > div:nth-child(2) {
    width: 35%;
}
main > section > ul > li > div:last-child {
    width: 36%;
    line-height: 50px;
}

main > section > ul > li > div > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main > section > ul > li > div > a {
    border: 1px solid #0047A0;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 4px 4px 5px rgba(196, 196, 196, 0.82);
    text-decoration: none;
    font-weight: bold;
}

main > section > ul > li > div > a:hover {
    color: white;
    text-decoration: underline;
}

main > section > ul > li > div > a:first-child:hover {
    background-color: #0047A0;
}

main > section > ul > li > div > a:nth-child(2):hover {
    background-color: red;
}
