/****************************************************************************
 * Style sheet linked to modify-article page
 ****************************************************************************/

main > section {
    margin: 0 4% 50px;
}

main > section > header > h2 {
    text-align: center;
    margin-bottom: 10px;
}

main ul {
    list-style: none;
}

main > section > form > ul > li > fieldset {
    text-align: center;
}

