.notification {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -20px;
  right: -50px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

.badge {
  font-size: 10px;
}