/*comic title-name*/
article > header {
    height: 70px;
    text-align: center;
    padding: 10px 2px 5px 2px;
}

article > footer > div:first-child {
    width: 35%;
    margin: auto;
}

/*favourite button*/
article > footer > div:first-child > a {
    display: inline-block;
    vertical-align: middle;
}
