/* User login form */
main > section > form > ul {
    border-radius: 10px 10px 10px 10px;
    background-color: #AAF1FF;
    color: #0047A0;
}

h2 {
    margin-bottom: 10px;
}

input#name {
    margin-right: 1%;
    display: inline-block;
    width: 49%;
}

input#surname {
    margin-left: 1%;
    display: inline-block;
    width: 49%;
}

main > section > form > ul > li > input:not([type="submit"]) {
    background-color: #0047A0;
    color: #AAF1FF;
}

main > section > form > ul > li > input:not([type="submit"])::placeholder {
    color: #AAF1FF;
}

main > section > form > ul > li > input[type="date"] {
    color: #AAF1FF;
    height: 17px;
    font-size: 15px;
    font-family: "Futura-pt", Arial, Helvetica, sans-serif;
    text-align: center;
}