
main > div:last-child{
    width: 100%;
    text-align: center;
}
/*-----*/
main > div:last-child > aside > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
/*-----*/
main > div:last-child > aside > div > div {
    text-align: center;
    display: inline-block;
    margin: 0;
    width: 50%;
}

main > div:last-child > aside > div > div > p {
    width: 50%;
    display: inline-block;
    margin: 0;
}

main > div:last-child > aside > div > div > ul > li{
    display: inline-block;
    margin: 0 1%;
}