
body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(202, 240, 248, 0.25);
}

html {
    font-family: "Futura-pt", Arial, Helvetica, sans-serif;
}

body > header {
    background: linear-gradient(to bottom, #00D5FF, #CAF6FF );
    height: 168px;
    border-radius: 0 0 20px 20px;
    box-shadow: 1px 1px 5px rgba(196, 196, 196, 0.82);
}

body > header > h1 {
    text-align: center;
}

body > header > h1.hide {
    background-image: url(../img/mini-logo.svg);
    height: 88px;
    background-position: center;
    background-repeat: no-repeat;
}

/*header > .hide */
.hide {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

body > header > nav > ul > li {
    list-style: none;
    display: inline-block;
}

body > header > nav > ul > li:first-child {
    margin: 0 8% 0 4%;
}

body > header > nav > ul > li:not(:first-child) {
    margin: 0 8% 0 8%;
}

body > header > nav > ul > li:last-child {
    margin: 0 4% 0 8%;
}

body > header > nav > ul > li {
    width: 11%;
    text-align: center;
}

body > header > nav {
    margin-top: 20px;
}

body > header > nav > div > ul {
    list-style: none;
    display: inline-block;
}

body > header > nav > div {
    background-color: #CAF0F8;
}

body >header > nav > div > ul > li {
    background-color: #0047A0;
}

body > header > nav > div {
    border-radius: 10px;
}

body > header > nav > div > ul {
    width: 100%;
    border-radius: 10px;
}

body > header > nav > div > ul > li:last-child {
    border-radius: 0 0 10px 10px;
}

body > header > nav > div > ul > li:first-child {
    border-radius: 10px 10px 0 0;
}

body > header > nav > div > ul > li > a {
    color: #CAF0F8;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 15px 0 15px 0;
    display: inline-block;
}

body > header > nav > div > ul > li > a:hover {
    font-weight: 900;
    text-transform: uppercase;
}

body > header > nav > div > ul > li:first-child {
    margin: 0 0 2px 0;
}

body > header > nav > div > ul > li:last-child {
    margin: 2px 0 0 0;
}

body > header > nav > div > ul > li {
    margin: 2px 0 2px 0;
    text-align: center;
    font-size: 1.2em;
}

body > header > nav > div > ul > li#login {
    margin: 7px 0 7px 0;
}

body > footer > h4.hide {
    background-image: url(../img/footer-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15px;
    margin: 0;
}

body > footer {
    background: linear-gradient(to top, #00D5FF, #CAF6FF);
    border-radius: 20px 20px 0 0;
    box-shadow: 1px 1px 5px rgba(196, 196, 196, 0.82);
}

body > footer > div > h4 {
    margin-bottom: 5px;
}

body > footer > div {
    font-size: 11px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-bottom: 20px;
}

body > footer > div:nth-of-type(2) {
    width: 30%;
}

body > footer > div:first-of-type,
body > footer > div:last-of-type {
    width: 35%;
}

body > footer > div > ul > li {
    display: block;
}


/* --------------------------------------- */

/*To unhide after finishing other things*/
body > header > nav > div {
    visibility: hidden;
}

/* Breadcrumb */

main > div > ul {
    padding: 10px 4%;
}

main > div > ul li + li::before {
    content: "\003E";
    padding: 0 10px;
    color: #0047A0;
    font-weight: bold;
}

main > div > ul > li {
    display: inline-block;
    color:#0047A0;
    vertical-align: middle;
}

main > div > ul > li > a:hover {
    font-weight: bold;
}