div, button, h2, ul, li, main, p{
    margin : 0;
    padding: 0;
}


main {
    background-image: url(../img/background/superMario.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: scroll;
    height: 700px;
    background-color: rgba(178, 230, 248, 0.82);
}

/*********************    Title and notifications   *********************/

main > section > h2 {
    font-size: 25px;
    padding: 10px 1% 20px 3%;
    color: #00479e;
    display: inline-block;
}

main > section > button{
    border: none;
    background: none;
}

/*********************       USER KEYPAD     *********************/

main > section:nth-child(3) {
    max-width: 530px;
    margin: auto;
    margin-bottom: 20px;
    padding: 1% 1%;
    background: rgba(0, 213, 255, 0.302);
    border-radius: 10px;
}

main > section:nth-child(3) > button {
    cursor: pointer;
    background-color: rgb(0, 71, 158);
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 44%;
    height: 130px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

main > section:nth-child(3) > button:nth-child(odd){
    margin-left: 4%;
    margin-right: 1%;
}

main > section:nth-child(3) > button:nth-child(even){
    margin-right: 4%;
    margin-left: 1%;
}


/*********************      Pop up      *********************/



@media screen and (min-width: 728px) and (max-width:1200px) {
    main > section:nth-child(3){

    }

}

@media screen and (min-width: 1200px) {
    main > section:nth-child(3){

    }
}



.btnGeneral{
    cursor: pointer;
    background-color: rgb(0, 71, 158);
    padding: 40px 70px;
    position: relative;
    width: 100%;
    height: 70px; 
    border-radius: 15px;
}

.text {
    color: #fff;
    text-align: center;
    margin-bottom: 3px;
    font-weight: bold;
}

/*Popup*/
.pop {
    position: absolute;
    background-color: #AAF1FF;
    z-index: 1;
    display: none;
    width: 450px;
    margin: auto;
}

.pop ul{
    list-style: none;
    padding: 5%;
}

.pop li{
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
    background-color: rgb(0, 71, 160);
    color: white;
    text-align: center;
    border-radius: 10px;
}

.pop li:nth-of-type(4){
    margin-top: 40px;
}


.popMiniIcon{
    max-width: 20px;
    margin: 0 4% 0 4%;
}

.pop li:nth-of-type(6) p{
    display: inline-block;
    margin: 0;
    padding-left: 15%;
}


.pop li:nth-of-type(6) > img {
    float: right;
}

.pop li:nth-of-type(7){
    background-color: transparent;
    padding-top: 0px;
    font-weight: bold;
}

.pop ul li a:hover{
    color: #0047A0;
    font-weight: bold;
}

.pop ul li:nth-of-type(8) img{
    max-width: 100px;
    float: left;
}

.pop ul li:nth-of-type(9) img{
    float: left;
    max-width: 22px;
    margin: 0 0 5px 8%;
}


.btnGeneral :hover {
    box-shadow: yellow;
    z-index: 1;
}

.textInside{
    font-size: 14px;
    color: #0047A0;
}

.textMiniInside{
    font-size: 12px;
    color: #0047A0;
}

.textInsideBold{
    font-size: 16px;
    color: #0047A0;
    font-weight: bold;
    text-align: center;
}

.textInsideGreen{
    font-size: 14px;
    color: #127008;
    font-weight: bold;
}

.textInsideRed{
    font-size: 14px;
    color: #B80303;
    font-weight: bold;
}

.textInsideWhite{
    font-size: 16px;
    color: white;
}


.icon{
    width: 55px;
    margin: 0 25%;
}

.radius{
    border-radius: 15px;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.top{
    bottom: 130px;
}

.underline{
    text-decoration: underline;
}

.center{
    text-align: center;
}

.inlineText{
    display: inline-block;
}

.alignVertical{
    vertical-align: top;
    margin: 30px 0;
}

.alignRight{
    margin: 0 0 0 45%;
}

.alignCenter{
    margin: 0 35% 0 35%;
}

.elemInside{
    background-color: #CAF0F8;
    margin: 13px 4%;
    padding: 10px 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    row-gap: 5x;
    border: 1px solid #0047A0;
}

.flexRow{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 5px;
    align-items: center
}


.flexColumn{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    row-gap: 10px;
}

.popComics{
    padding: 0px 2%;
    height: 70px;
    width: 60px;
}

.blueBtn{
    background-color: #0047A0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
}

.grayBtn{
    background-color: #c4c4c4;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
}

.sendBtn{
    background-color: #CAF0F8;
    margin: 13px 4%;
    padding: 10px 20px;
    border: 1px solid #0047A0;
    border-radius: 15px;
    float: right;
}

.boxText{
    background-color: #CAF0F8;
    margin: 13px 4%;
    padding: 10px 20px;
    height: 150px;    
    border: 1px solid rgb(0, 71, 160);
}

.stars{
    width: 200px;
    margin: 0px 25%;
}

