main {
    background-image: url(../img/background/superMario.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: scroll;
    min-height: 700px;
    background-color: rgba(208, 243, 255, 0.82);
}

main > section {
    background-color: rgba(195, 240, 250, 0.84);
    padding: 10px 1%;
    box-sizing: content-box;
    max-width: 100%;
    margin: auto;
    text-align: center;

}

section > button {
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 25%);
    border-radius: 10px;
    color: black;
    border: 1px dotted black;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    margin: 5px 8%;
    padding: 5px 3%;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(195, 240, 250, 0.84);
    border-radius: 10px;
    width: 100%;
}

main > p {
    font-weight: bold;
    font-size: 25px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}

tr:hover {
    background-color: #fafefebc;
}

tr{
    height: 100px;
}

.whiteBtn{
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 5px 10%;
    color: black;
    border: 1px dotted black;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    display: block;
    margin-top: 5px;
}

.inbox, .bin {
    height: 30px;
    min-width: 200px;
}

.whiteBtn:hover, .inbox:hover, .bin:hover{
    transform: scale(1.1);
}

.bin:hover{
    transform: rotate(45deg);
}

span {
    display: inline-block;
}


.icon{
    opacity: 0.5;
    max-width: 30px;
    margin-right: 10px;
}

.binMail{
    display: none;
}

caption {
    font-weight: bold;
    font-size: 25px;
    background-color: white;
    text-align: center;
    border-radius: 20px;
}


@media screen and (max-width: 970px) {

    .messages p{
        display: block;
        width: 200px;
        margin: auto;
        margin-top: 10px;
    }

    .messages p:nth-child(1), .messages p:nth-child(3){
        width: 200px;
        margin: auto;
        margin-top: 10px;
    }




}









