

.icon{
    opacity: 1.0;
    max-width: 50px;
}


th:nth-child(1){
    width: 20%;
}

th:nth-child(2){
    width: 60%;
}

th:nth-child(3){
    width: 20%;
}


.whiteBtn{
    margin: 2%;
    min-width: 100px;

}

caption{
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
}

.messages p{
    border: 2px dotted black;
    display: inline-block;
    text-align: center;
    padding: 1%;
    border-radius: 20px;
    background-color: white;
    width: 200px ;
    margin: auto;
    font-weight: bold;
}

.messages p:hover{
    transform: scale(1.1);
}

.messages p:nth-child(1){
    margin-left: 3%;
    margin-right: 15%;
}

.messages p:nth-child(3){
    margin-left: 15%;
    margin-right: 3%;
}

.sentMail{
    display: none;
}

.binMail{
    display: none;
}


@media screen and (max-width: 970px) {

    .messages p{
        display: block;
        width: 200px;
        margin: auto;
        margin-top: 10px;
    }

    .messages p:nth-child(1), .messages p:nth-child(3){
        width: 200px;
        margin: auto;
        margin-top: 10px;
    }


}









