.idea
.~lock.*
*.DS_Store
/upload/news/* 
/upload/publishers/*
/upload/products/*
/vendor/*
composer.phar
!.gitkeep
.idea/vcs.xml
.gitignore
.idea/modules.xml
.gitignore
.idea/jsLibraryMappings.xml
.idea/php.xml
.idea/silmarillion.iml
.idea/dataSources.xml
