/* Common rules for both user and seller login form */

main > section {
    margin-bottom: 50px;
}

main > section > form > header > div {
    text-align: center;
}

main > section > form > header > ul > li {
    width: 50%;
    padding: 10px 0;
    text-align: center;
    color: #0047A0;
    display: inline-block;
    border-radius: 10px 10px 0 0;
}

main > section > form > div {
    padding: 5% 10%;
    box-shadow: 0 10px 5px rgba(196, 196, 196, 0.82);
    border-radius: 0 0 10px 10px;
    text-align: center;
}

main > section > form > div > input {
    border: none;
    border-radius: 10px;
    margin: auto;
    display: block;
}

main > section > form > div > input[type=text], 
main > section > form > div > input[type=password] {
    width: 100%;
    font-size: 15px;
    padding: 10px 0 10px 15px;
    margin-bottom: 15px;
}

main > section > form > div > input[type="submit"],
main > section > form > div > a:last-child {
    font-weight: bold;
    font-size: 17px;
    font-weight: bold;
    margin-top: 15px;
    padding: 12px;
    color: #0047A0;
    background-color: white;
    border: 1px solid #0047A0;
    box-shadow: 1px 1px 5px rgba(196, 196, 196, 0.82);
}

main > section > form > div > a:last-child {
    border-radius: 10px;
    text-decoration: none;
    margin: auto;
    display: inline-block;
}

main > section > form > div > input[type="submit"]:hover, 
main > section > form > div > a:last-child:hover {
    box-shadow: 4px 4px 5px rgba(196, 196, 196, 0.82);
}

main > section > form > div > a:hover {
    font-weight: bold;
}

main > section > form > div > p {
    color: #0047A0;
    font-weight: bold;
}

main > section > form > header > ul > li {
    background-color: #c4c4c450;
}

/* User login form */
main > section > form > header > ul > li:first-child.active {
    background-color: #AAF1FF;
    box-shadow: 4px -4px 5px rgba(196, 196, 196, 0.82);
}

main > section > form > div#userlogin {
    background-color: #AAF1FF;
}

main > section > form > div#userlogin > input:not([type="submit"]) {
    background-color: #0047A0;
}

main > section > form > div#userlogin > input:not([type="submit"])::placeholder {
    color: #AAF1FF;
}

main > section > form > div#sellerlogin > a {
    color: #0047A0;
}

/* Seller login form */
main > section > form > header > ul > li:last-child.active {
    background-color: #0047A0;
    color: #AAF1FF;
    box-shadow: -4px -4px 5px rgba(196, 196, 196, 0.82);
}

main > section > form > div#sellerlogin {
    background-color: #0047A0;
}

main > section > form > div#sellerlogin > input:not([type="submit"]) {
    background-color: #AAF1FF;
}

main > section > form > div#sellerlogin > input:not([type="submit"])::placeholder {
    color: #0047A0;
}

main > section > form > div#sellerlogin > a {
    color: #AAF1FF;
}

@media screen and (min-width: 768px) and (max-width:992px) {
    main {
        margin: 0 15%;
    }
}

@media screen and (min-width: 992px) and (max-width:1200px) {
    main {
        margin: 0 18%;
    }
}

@media screen and (min-width: 1200px) {
    main {
        margin: 0 25%;
    }
}
