/* User login form */
main > section > form > div {
    background-color: #AAF1FF;
    color: #0047A0;
}

main > section > form > div > input:first-of-type,
main > section > form > div > input:nth-of-type(2) {
    width: 49%;
    display: inline;
}

main > section > form > div > div:nth-of-type(2) {
    display: inline-block;
}

main > section > form > div > input:nth-of-type(3) {
    display: inline-block;
}

main > section > form > div > input:not([type="submit"]) {
    background-color: #0047A0;
}

main > section > form > div > input:not([type="submit"])::placeholder {
    color: #AAF1FF;
}