
body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(202, 240, 248, 0.25);
}

html {
    font-family: "Futura-pt", Arial, Helvetica, sans-serif;
}

body > header {
    background: linear-gradient(to bottom, #00D5FF, #CAF6FF );
    height: 168px;
    border-radius: 0 0 20px 20px;
    box-shadow: 1px 1px 5px rgba(196, 196, 196, 0.82);
}

body > header > h1 {
    text-align: center;
}

body > header > h1.hide {
    background-image: url(../img/mini-logo.svg);
    height: 88px;
    background-position: center;
    background-repeat: no-repeat;
}

/*header > .hide */
.hide {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

body > header > nav > ul > li {
    list-style: none;
    display: inline-block;
}

body > header > nav > ul > li:first-child {
    margin: 0 8% 0 4%;
}

body > header > nav > ul > li:not(:first-child) {
    margin: 0 8% 0 8%;
}

body > header > nav > ul > li:last-child {
    margin: 0 4% 0 8%;
}

body > header > nav > ul > li {
    width: 11%;
    text-align: center;
}

body > header > nav {
    margin-top: 20px;
}

body > header > nav > div > ul {
    list-style: none;
    display: inline-block;
}

body > header > nav > div {
    background-color: #CAF0F8;
}

body >header > nav > div > ul > li {
    background-color: #0047A0;
}

body > header > nav > div {
    border-radius: 10px;
}

body > header > nav > div > ul {
    width: 100%;
    border-radius: 10px;
}

body > header > nav > div > ul > li:last-child {
    border-radius: 0 0 10px 10px;
}

body > header > nav > div > ul > li:first-child {
    border-radius: 10px 10px 0 0;
}

body > header > nav > div > ul > li > a {
    color: #CAF0F8;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 15px 0 15px 0;
    display: inline-block;
}

body > header > nav > div > ul > li > a:hover {
    font-weight: 900;
    text-transform: uppercase;
}

body > header > nav > div > ul > li:first-child {
    margin: 0 0 2px 0;
}

body > header > nav > div > ul > li:last-child {
    margin: 2px 0 0 0;
}

body > header > nav > div > ul > li {
    margin: 2px 0 2px 0;
    text-align: center;
    font-size: 1.2em;
}

body > header > nav > div > ul > li#login {
    margin: 7px 0 7px 0;
}

body > footer > h4.hide {
    background-image: url(../img/footer-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15px;
    margin: 0;
}

body > footer {
    background: linear-gradient(to top, #00D5FF, #CAF6FF );
    height: 165px;
    border-radius: 20px 20px 0 0;
    box-shadow: 1px 1px 5px rgba(196, 196, 196, 0.82);
}

body > footer > ul {
    margin: 15px 4% 0 4%;
    text-align: center;
}

body > footer > ul > li {
    display: inline-block;
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
}

body > footer h4 {
    margin: 0 0 5px 0;
}

body > footer li {
    list-style: none;
}

body > footer > ul >li:nth-child(2)>ul > li:last-child {
    padding: 20px 0 0 0;
}

body > footer > ul > li:first-child {
    padding-right: 27px;
}

body > footer > ul > li:nth-child(2) {
    margin: 0 2% 0 4%; ;
}

main > div {
    margin: 22px 0 22px 0;
    width: 100%;
}

main > div > img {
    width: 76%;
    height: 145px;
    border-radius: 10px;
    margin: 0;
}

main > div > button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;
    height: 145px;
    width: 12%;
}

main > div > button:first-of-type{
    background-image: url(../img/Back.svg);
    float: left;
}

main > div > button:last-of-type{
    background-image: url(../img/Forward.svg);
    float: right;
}

/*To unhide after finishing other things*/
body > header > nav > div {
    visibility: hidden;
}